.entergame-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .entergame-text {
    font-size: 1rem;
  }

  .entergame-button {
    ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 0.3rem;
        input {
          padding: 0 1rem;
        }
      }
    }
  }
}
