:root {
  --main-red: #ee2a2a;
  --main-orange: #e8520c;
  --main-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-image: url("assets/honeycomb.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: var(--main-font);
  font-size: 1rem;
  color: #fff;
}
.main__container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.main__content {
  position: relative;
  min-height: 67vh;
  margin: 0 3%;
  padding-bottom: 3em; /* footer height, to make stick */
}
