.countdown-container {
  position: relative;
  width: 100%;
  padding: 0.4rem;
  margin: 0.4rem auto;
  display: flex;
  justify-content: center;

  .timer {
    align-self: center;
    border: 1px solid #fff;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 0.3rem 0;
  }
  button {
    margin: 0 3%;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0.3rem 0.7rem;
  }
}
