.home {
  transition: all 1s ease-out;
  h2 {
    margin: 3% auto;
    padding-bottom: 3%;
  }
  .forms {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .card {
    opacity: 0.9;
    color: #fff;
  }
}
