#header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #000;
  color: var(--main-red);
  letter-spacing: 5px;
  padding: 10px;
  opacity: 0.8;

  #logo {
    margin-right: 20px;
  }

  h2 {
    margin-left: 20px;
    margin: auto 0;
  }
}
