.entergame-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .entergame-text {
    width: 500px;
    font-size: 1.2rem;
    padding: 0.9rem;
    background: #161313;
  }

  .entergame-button {
    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      li {
        margin: 0.5rem 0.5rem;
        input {
          padding: 0.3rem 1rem;
        }
      }
    }
  }
}
