.playerlist-container {
  color: #111;
  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // Color array
  #blue {
    color: #3810eb;
  }
  #red {
    color: #eb1010;
  }
  #green {
    color: #55eb10;
  }
  #yellow {
    color: #d5eb10;
  }
}
